
.descrip {
  display: flex;
  margin: 50px;
  justify-content: center;
}

 .descrip img {
  margin: 80px;
  width: 320px;
  height: 550px;
  padding-left: 25px;
  
} 

.descrip h4 {
  color: #ffb742;
  border-radius: 50px;
  padding: 16px;
  background-color: #45423d;
  font-size: 25px;
  margin: 0px;
  width: 170px;
  height: 60px;

}

.parrafo{
  
 margin-top: 100px;
  
}




h1 {
  font-size: 2rem;
}



#botoncontra {
  border-radius: 50px;
  padding: 11px;
  background-color: #ffb742;
  color: #1c1c1c;
  display: inline-block;
  margin: 0px;
  width: 115px;
  height: 50px;
  font-size: 20px;
}


@media screen and (max-width: 520px) {
  .descrip img{
    display: none;
  }


 
}

@media screen and (max-width: 996px) {
.descrip{
  flex-wrap: wrap;
}
.parrafo{
  margin: auto;
  text-align: center;
}
.descrip h4{
  margin: auto;
}

}