
.form input {
  border-radius: 50px;
  height: 50px;
  margin: 10px;
}

.contacto {
  color: #ffb742;
  border-radius: 50px;
  padding: 15px;
  background-color: #45423d;
  display: inline-block;
  margin: 0px;
  width: 200px;
  height: 60px;
  font-size: 20px;
}

.formulario {
  background-color: none;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 4.5em 3em;
  border-radius: 10px;
  text-align: center;
}
.contenedordelform {
  margin-top: 6em;
  display: grid;
  row-gap: 100px;
}

/* .grupoform {
  position: relative;
} */

.chiste {
  background-color: #ffffff;
  color: #212529;
  border-radius: 5px;
  height: 300px;
  width: 450px;
  padding: 15px;
  margin: 35px;
  
}

.unomas{
  background-color: #ffb742;
  color: black;
  font-size: 25px;
  border-radius: 15px;
  font-style:initial;
  margin-left: 300px;
  border: none;

}

.forminput {
  width: 100%;
  background: none;
  font-size: 2em;
  padding: 0.6em 0.3;
  border: none;
  outline: none;
  border-bottom: 1px solid #7b7b7b;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}


.formenviar {
  border-radius: 50px;
  padding: 12px;
  background-color: #ffb742;
  display: inline-block;
  margin: 0px;
  width: 120px;
  height: 60px;
  font-size: 2rem;
  border: none;
}

.formulario .contenedordelform .grupoform ::placeholder{
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .unomas{
    margin-left: 0px;
    margin: 10px;
  }
  .chiste{
    width: 225px;
    margin: auto;
  }
  .formenviar{
    margin: auto
    ;
  }

}



/*.cajasdetexto{

    display: block;
    margin: 50,20;
    text-align: center;
    
}*/
