* {
  margin: 0px;
  box-sizing: border-box;
}

/*li para quitar puntos de los links*/
li {
  list-style-type: none;
  margin: 10px;
}

/*para quitar la raya de los link*/
a {
  text-decoration: none;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 5px;
}

ul {
  display: flex;
}

a:link,
a:hover {
  color: #ffb742;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #212529;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.generalContainer{
    flex: 1;
    
    
}

#botondia {
  border-radius: 50px;
  padding: 11px;
  background-color: #ffb742;
  color: #1c1c1c;
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: none;
}

#cajasgrises {
  display: flex;
  column-gap: 2em;
  margin: 10px;
  border-radius: 30px;
  justify-content: center;
  margin-top: 9em;
  row-gap: 15px;
  
}

.cajagris {
  background-color: #292b2e;
  border-radius: 15px;
  display: flex;
  width: 418px;
  height: 120px;
  column-gap: 58px;
  text-align: center;
  padding: 25px;
}

.numb{
  color: #ffb742;
  font-size: 30px;
}


footer {
  background-color: #1c1c1c;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 60px;
  margin-top: 10em;
  padding-top: 170px;
   
}

footer ul {
  flex-direction: column;
}

#linkfooter {
  color: #7b7b7b;
}

#titulos {
  font-family: "Inter";
  font-family: "inter";
  display: block;
  margin: 30, 10;
  text-align: center;
}

h2 {
  font-size: 32px;
}

#minombreamarillo {
  color: #ffb742;
}

#name {
  color: #ffb742;
}

.correo {
  border-radius: 50px;
  height: 60px;
  background-color: #212529;
  width: 305px;
  border: none;
  padding-right: 100px;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;

}



.envi{
  border-radius: 70px;
  height: 70px;
  padding-bottom: 8px;
  background-color: #ffb742;
  width: 70px;
  position: relative;
  bottom: 70px;
  right: 74px;
  margin-left: 352px;
  border:none;
  margin-top: 6px;
  color: #ffffff;
}


h1 {
  font-size: 48px;
}


/*responsive*/

@media screen and (max-width: 768px) {
  body{
    background-color:black;

  }
  #cajasgrises{
    flex-wrap: wrap;
  }

}
@media screen and (max-width: 520px) {
  
  footer{
    
    justify-content: center;
    min-width: none;
    padding: 0px;
    
  }
  header img{
    display: none;
  }
  #botondia{
    display: none;
  }
  header{
    justify-content: space-between;
  }
  #cajasgrises{
    flex-wrap: wrap;
  }
  .cajagris{
    justify-content: center;
  }


}

@media screen and (max-width: 947px) {
  .di{
    display: none;
  }

  }

 @media screen and (max-width: 600px) {
  #name{
    display: none;
 }  
 .profecion{
   display: none;
 }

  }


  /*modo dia*/

body.dia{
background-color: #ffffff;
color: #1c1c1c;

}
.dia .cajagris{
  color:white;
}
.dia .generalContainer header li a{
 color: #212529;
}
.dia .generalContainer footer{
  color: white;
}
.dia .cajasexpe section{
  background-color: #212529;
  color: #ffffff;
}
.dia .chiste{
  background-color: #1c1c1c;
  color: #ffffff;
}
.dia .formulario .contenedordelform .grupoform ::placeholder{
  color: #1c1c1c;
}
.dia .forminput{
  color: #1c1c1c;
}
.dia .linkexpe{

  color: #ffffff;
 
}

