

.titulos {
  display: block;
  margin: 50, 20;
  text-align: center;
}

h3 {
  border-radius: 50;
  color: #ffb742;
  margin: 20px;
}



.cajasexpe {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}

.cajasexpe section {
  background-color: #ffffff;
  color: #212529;
  border-radius: 5px;
  height: 500px;
  width: 450px;
  padding: 15px;
  margin: 35px;
}

.cajasexpe section div{
  margin-top: 35px;
  margin-bottom: 5px;
}

.cajasexpe section img{
  background-color:white;
  border-radius: 21px;

}
.cajasexpe section h4{
  margin-top: 15px;
  font-size: 22px;
}

.linkexpe{

text-decoration-line: underline;
color: #212529;
}

h3 {
  border-radius: 50px;
  padding: 15px;
  background-color: #3c3934;
  color: #ffb742;
  display: inline-block;
  margin: 10px;
  width: 145px;
  height: 50px;
}

.cajasexpe section div{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 984px) {
  .cajasexpe{
    flex-wrap: wrap;

  }

}
@media screen and (max-width: 1322px) {

  .cajasexpe section{
    height: 500px;
  }

  .cajasexpe section .text{
    font-size: 14px;
  }
 
}


