
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200;400;500;700&family=Work+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Andres_GM_CV</title>
    <link rel="shortcut icon" href="img/favi.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/stilos/contac.css" />
    <link rel="stylesheet" href="../../static/stilos/estilos.css">
  </head>
  <body>

    <div class="generalContainer">
      <header>
        <img src="../../static/img/Frame 7.png" alt="" />
        <nav>
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'video' %}">Videos</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'contacto' %}">Contact</a></li>
          </ul>
        </nav>

        <a id="botonhire" href="contacto.html">Hire Me</a>
      </header>

    <form class="formulario">

      <h2 class="contacto">SMILE!</h2>
      <h2>Contact Me, or... Smile! </h2>
      <section class="chiste">
        <div>
          <h2>Chiste cito </h2>
        </div>
        <div id="contenedor"><h4>Click En el boton "Uno Mas" para obtener chistes</h4></div>
     </section>
     <button type="button" class="unomas">Uno Mas</button>
     
      <div class="grupoform">
        <input type="text" id="nombre" class="forminput" placeholder=" " />
      </div>
      <br>
      <br>
      <h2 class="contacto">Contact Me</h2>

      <div class="contenedordelform">
        <div class="grupoform">
          <input type="text" id="nombre" class="forminput" placeholder="Nombre " />
        </div>

        <div class="grupoform">
          <input type="text" id="email" class="forminput" placeholder="Email" />
        </div>

        <div class="grupoform">
          <input type="text" id="telefono" class="forminput" placeholder="Telefono " />
        </div>

        <input type="submit" class="formenviar" value="enviar" />
      </div>
    </form>

  

    <footer>
      <span>
        <h1 id="name">
          Andres <br />
          Gutierrez
        </h1>
        <h4 class="profecion">Aprendiz de desarrollo web</h4>
      </span>

      <div>
        <ul>
          <h2>Useful Links</h2>
          <br />
          <li><a id="linkfooter" href="index.html">Home</a></li>
          <li><a id="linkfooter" href="about.html">About</a></li>
          <li><a id="linkfooter" href="experience.html">Experiece</a></li>
          <li><a id="linkfooter" href="contact.html">Contact</a></li>
        </ul>
      </div>

      <div>
        <ul>
          <h2>Social Media</h2>
          <br />
          <li>
            <a
              id="linkfooter"
              href="https://www.linkedin.com/in/andres-gm-b76462179/"
              >Linkedin</a
            >
          </li>
          <li>
            <a id="linkfooter" href="https://github.com/AndresGutierrez1992"
              >GitHub</a
            >
          </li>
          <li>
            <a id="linkfooter" href="https://www.instagram.com/andresguttierrezm/"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
      <div class="di">
        <ul>
        <h2>Hire Me</h2>
        <br />
        <h4 id="linkfooter">Enter your email to get my</h4>
        <h4 id="linkfooter">portafolio and cv</h4>
        <br>
        <a>
        <input class="correo"type="email"name="youremail"id="youremail"placeholder="your Email addres"/>
         </a>
        </ul>
        <button class="envi"><img src="img/Vector.png" alt="" /></button>
      </div>
    </footer>
  </div>
  <script src="tema.js"></script>
  <script src="api.js"></script>
  </body>
</html>
