<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Galeria Videos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="../../static/img/favi.jpg" type="image/x-icon" />
  <link rel="stylesheet" href="../../static/stilos/estilos.css" />
</head>
<body>
 

  <header>
    <img src="../../static/img/Frame 7.png" alt="" />
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'video' %}">Videos</a></li>
        <li><a href="{% url 'servicios' %}">Servicios</a></li>
        <li><a href="{% url 'contacto' %}">Contact</a></li>
      </ul>
    </nav>

    <a id="botonhire" href="contacto.html">Hire Me</a>
  </header>

  <main class="container my-5">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card h-100 shadow">
          <div class="card-body">
            <h5 class="card-title">Baño y peluquería</h5>
<iframe width="350" height="315" src="https://www.youtube.com/embed/xXso_TSrL5c?si=0vPI0zUnXpkfjoFa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            <p class="card-text">Deja a tu mascota reluciente con nuestros servicios de grooming profesional.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100 shadow">
          <div class="card-body">
            <h5 class="card-title">Consultas veterinarias</h5>
            <iframe width="350" height="315" src="https://www.youtube.com/embed/xXso_TSrL5c?si=0vPI0zUnXpkfjoFa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            <p class="card-text">Deja a tu mascota reluciente con nuestros servicios de grooming profesional.</p>
            <p class="card-text">Chequeos generales, vacunación, y atención de confianza para su salud.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100 shadow">
          <div class="card-body">
            <h5 class="card-title">Entrenamiento canino</h5>
            <iframe width="350" height="315" src="https://www.youtube.com/embed/xXso_TSrL5c?si=0vPI0zUnXpkfjoFa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            <p class="card-text">Deja a tu mascota reluciente con nuestros servicios de grooming profesional.</p>
            <p class="card-text">Clases de obediencia y comportamiento impartidas por expertos certificados.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>